@main("Welcome to Play") {

 		<div id="page">
                <h1>Swaggy Search for Semantic Web search</h1>
                    
                        <form id="searchForm">
                            <div class="input-group">
                                <input id="searchTerms" type="text" name="query" />
                                <input type="submit" value="Submit" id="submitButton" />
                            </div>
                        </form>
                    
            
                
            
      

        
    <div id="resultsDiv"></div>

    <p class="credit"><a href="http://tutorialzine.com/2010/09/google-powered-site-search-ajax-jquery/">Powered by H4304 &amp; Google Custom Search</a></p>

    </div>
}
